<%- include ('header.ejs') %>

  <h1 class="text-center py-3">Thêm Sản Phẩm</h1>
  <div class="container mt-3">
    <form action="/admin/themproduct" method="POST" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Name">
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="text" class="form-control" id="price" name="price" placeholder="Price">
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Sale Price</label>
        <input type="text" class="form-control" id="sale_price" name="sale_price" placeholder="Price">
      </div>
      <div class="mb-3">
        <label for="describe" class="form-label">Describe</label>
        <input type="text" class="form-control" id="describe" name="describe" placeholder="Describe">
      </div>
      <div class="mb-3">
        <label for="cateId" class="form-label">Cate_ID</label>
        <select class="form-select" id="cateId" name="category_id">
          <option selected disabled>Choose Cate_ID</option>
          <% for (let cate of categories) { %>
            <option value="<%= cate.id %>"> 
              <%= cate.id %>
            </option>
            <% } %>
        </select>

      </div>
      <div class="mb-3">
        <label for="img" class="form-label">Image</label>
        <input type="file" class="form-control" id="img" name="image">
      </div>
      <button type="submit" class="btn btn-info">Add Product</button>
    </form>
  </div>

  <%- include('footer.ejs') %>