<%- include ('header.ejs') %>

<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Fresh adn Organic</p>
                    <h1>Thankssssss</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- error section -->
<div class="full-height-section error-section">
    <div class="full-height-tablecell">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="error-text">
                        <h1>Thank You So Muchhhh . I Love Youu <i class="fas fa-heart"></i>
                        </h1>
                        <p>Thank you for purchasing our products !</p>
                        <a href="/" class="boxed-btn">Back to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ('footer.ejs') %>
